{% extends 'tables.html' %}

{% block botones%}
<div class="text-center">
    <h1>Ventas</h1>
</div>
<div class="row">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'nueva_venta' %}" style="width: 15%;">Registrar venta</a>
</div>
<br />
{% endblock %}
{% load static %}

{% block head %}

<th> Cliente </th>
<th> Fecha </th>
<th> Productos </th>
<th> Total </th>
<th> Acciones </th>
{% endblock %}
{% block tbody %}
{% for venta in queryset %}
<tr>
    <td>{{ venta.cliente.nombre }}</td>
    <td>{{ venta.fecha }}</td>
    <td>
        {% for detalle in venta.detalles_venta %}
        <li>{{ detalle.producto.nombre }}</li>
        {% endfor %}
    </td>
    <td>{{ venta.total }}</td>
    <td>
        <a class="btn btn-info btn-sm btn-block" href="{% url 'detalles_venta' venta.id%}">Detalles</a>
    </td>
</tr>
{% endfor %}
{% endblock %}